# This is Git's per-user configuration file.
[user]
	name = Victor Jacobs
	email = victor.jacobs@me.com
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    lo = log --oneline
[push]
	default = current
[url "git@github.com:"]
	insteadOf = https://github.com/
