[user]
    name = Victor Jacobs
    email = victor@vjcbs.dev
    signingkey = B490B254BDB9D657B7D6695B1B14FF4E55A4EB54
[commit]
    gpgsign = true
[core]
    pager = diff-so-fancy | less --tabs=4 -RFX
    editor = vim
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[init]
    templatedir = ~/.git_template
	defaultBranch = main
[alias]
    co = checkout
    ci = commit
    st = status -sb
    br = branch
    lo = log --oneline
    dt = difftool
    df = diff
[push]
    default = current
[url "git@github.com:"]
    insteadOf = https://github.com/

[pull]
	rebase = false
