# This is Git's per-user configuration file.
[user]
    name = Victor Jacobs
    email = victor.jacobs@me.com
[core]
    pager = diff-so-fancy | less --tabs=4 -RFX
    editor = vim
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[init]
    templatedir = ~/.git_template
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    lo = log --oneline
    dt = difftool
    df = diff
[push]
    default = current
[url "git@github.com:"]
    insteadOf = https://github.com/
[includeIf "gitdir/i:~/n26/"]
    path = ~/.gitconfig.n26
